.add-field-form{
  background-color: #fff;
  /* background-color: #F5F5F5; */
  height: 100vh;
}

.add-field-form h1{
  position: absolute;
  margin-left: 18em;
  margin-top: 2em;
}


.add-canidate-field {
  position: absolute;
  /* background-color: chocolate; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 50vh;
  width: 50vw;
  margin-left:25em;
  margin-top: 9em;
}

.add-canidate-field input {
  width: 40em;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-family: "Montserrat", sans-serif;
}

/* .add-canidate-field button {
  width: 41.5em;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
} */

#add-candidate-btn {
  /* background: linear-gradient(#0f2027, #203a43, #2c5364);
  color: ##F5F5F5;
  font-weight: 900; */
  width: 44.5em;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  color: black;
  font-weight: bolder;

}

#add-candidate-btn:hover {
  /* background: linear-gradient(#0f2027, #203a43, #2c5364); */
  color: #F5F5F5;
  font-weight: 900;
}
