@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css);

body {
  margin: 0;
  padding: 0;
}

.side-nav-bar {
  position: absolute;
  width: 250px;
  height: 100vh;
  background:linear-gradient(#0F2027,#203A43,#2C5364);
}

.nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
  /* color: rgb(22, 22, 22); */
  color: #d9d9d9;
  margin: 8px;
}

a {
  text-decoration: none;
}

.nav-items i {
  margin-right: 15px;
}

