@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css);

body {
  margin: 0;
  padding: 0;
}

.side-nav-bar {
  position: absolute;
  width: 250px;
  height: 110vh;
  background:linear-gradient(#2193b0,#6dd5ed);

  /* background:linear-gradient(#0F2027,#203A43,#2C5364); */

}

.nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
  color: #171e2e;
  /* color: rgb(22, 22, 22); */
  /* color: #F5F5F5; */
  /* margin: 8px; */
  margin-top: 2em;
}

a {
  text-decoration: none;
}

.nav-items i {
  margin-right: 15px;
}

.nav-items h4{
   font-size: larger;
}

.nav-items :hover{
  color: black;
}
