.voter-register-form {
  background-color: #fff;
  /* background-color: #F5F5F5; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  margin-left: 5em;
  /* margin-top: -5em; */
}

.voter-register-form h1 {
  position: absolute;
  /* margin-top: 5em; */
  margin-top: -10em;
  margin-left: 13em;

  /* margin: 2em; */
}

#voter-id-input {
  margin-top: 40px;
  width: 25em;
  padding: 10px;
  border-radius: 5px;
  border: none;
  /* outline: blue; */

  outline: none;
  font-family: "Montserrat", sans-serif;
}

#eth-address-input {
  margin: 15px;
  width: 25em;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-family: "Montserrat", sans-serif;
}

#register-btn {
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  width: 27.5em;
  font-family: "Montserrat", sans-serif;
  color: black;
  font-weight: bolder;
  
}

#register-btn:hover {
  /* background-color: aqua; */
  /* background: linear-gradient(#0f2027, #203a43, #2c5364); */
  /* background-color: #fff; */
  color: #fff;
  font-weight: 900;
}

.verify-otp-form {
  background-color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}

.verify-otp-fields {
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#enteredOTP {
  width: 25em;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-family: "Montserrat", sans-serif;
}

#verify-otp-btn {
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  width: 27.5em;
  font-family: "Montserrat", sans-serif;
  color: black;
}

#verify-otp-btn:hover {
  /* background: linear-gradient(#0f2027, #203a43, #2c5364); */
  color: #fff;
  font-weight: 900;
}

#voter-reg-form {
  margin-top: 2em;
  /* background-color: #F5F5F5; */
  background-color: #fff;
}


