.voter-register-form {
  background-color: #d9d9d9;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}

#voter-id-input {
  width: 25em;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-family: "Montserrat", sans-serif;
}

#eth-address-input {
  margin: 15px;
  width: 25em;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-family: "Montserrat", sans-serif;
}

#register-btn {
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  width: 26.5em;
  font-family: "Montserrat", sans-serif;
}

#register-btn:hover {
  /* background-color: aqua; */
  background:linear-gradient(#0F2027,#203A43,#2C5364);
  color: #d9d9d9;
  font-weight: 900;

}

.verify-otp-form {
  background-color: #d9d9d9;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}

.verify-otp-fields{
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#enteredOTP {
  width: 25em;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-family: "Montserrat", sans-serif;
}

#verify-otp-btn {
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  width: 26.5em;
  font-family: "Montserrat", sans-serif;
}

#verify-otp-btn:hover {
  background-color: aqua;
}
